*
{
	font-family:century gothic;
}
#outer
{
	height:autopx;
	width:autopx;
	border:1px solid transparent;
}
#sidemenu
{
height:750px;
width:300px;
background-color:#333333;
border:1px solid transparent;
float:left;
}
#logo
{
	height:100px;
	width:100px;
	border-radius:50px;
	border:1px solid transparent;
	margin-left:100px;
	margin-top:10px;
}
#menu
{
margin-top:px;
border:1px solid transparent;
}
#menu ul
{
	list-style-type:none;
}
#menu ul li
{
	text-decoration:none;
	
	text-align:center;
	margin-left:-38px;
	margin-top:15px;
	padding:8px;
	
}
#menu ul li a
{
	color:white;
	font-size:20px;
	font-family:century gothic;
	
}
#menu ul li a:hover
{
font-size:24px;
transition:0.7s ease;
}	
#menu ul li:hover
{
	background-color:#5f6368;
	transition:0.7s ease;
}
#header
{
	height:100px;
	width:autopx;
	border:1px solid transparent;
	background-color:#393c48;
	color:white;
	text-align:center;
	font-size:50px;
	
}
#ans
{
	height:650px;
	width:1027px;
	float:right;
	

}

th
{
	background-color:#1c2a48;
	color:white;
	font-size:22px;
}
td
{
	background-color:#66bb6a;
		
	font-size:20px;
}
#pi
{
	height:300px;
	width:500px;
	border:1px solid transparent;
	margin-left:200px;
	margin-top:200px;
	color:white;
	font-size:35px;
	background:rgb(0,0,0,0.6);
}
input
{
	height:30px;
	width:300px;
	margin-top:20px;
	background:;
	border:none;
	outline:none;
	border-radius:20px;
	border-bottom:1px solid #f0f0f0;
	
	margin-left:100px;
}